{% extends 'base.html' %}

{% block title %}
    Posts
{% endblock %}

{% block search_value %}
{{ search }}
{% endblock %}

{% block content %}
<h4 class="mb-4">Posts</h4>

{% if post_list.exists %}
    {% for post in post_list %}
        {% include 'blog/includes/post_card.html' with post=post %}
    {% endfor %}
{% else %}
    No posts
{% endif %}

{% if page_obj.has_other_pages %}
    {% include 'blog/includes/pagination.html' with page_obj=page_obj search=search %}
{% endif %}

{% endblock %}
