{% extends 'base.html' %}

{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock %}

{% block content %}
<h4 class="mb-4">{{ post.title }}</h4>

<div class="btn-group mr-2" role="group" aria-label="First group">
    <a type="button" class="btn btn-warning" href="{% url 'blog:post_update' post.slug %}">Update</a>
    <a type="button" class="btn btn-danger" href="{% url 'blog:post_delete' post.slug %}">Delete</a>
</div>
<hr>

<p>
    {{ post.body }}
</p>
<h5>Tags:</h5>
{% for tag in post.tags.all %}
    <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
{% endfor %}
{% endblock %}
